@model IEnumerable<EcosistemasMarinos.LogicaNegocio.Entidades.Especie>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Especies</h1>

<hr />
<h5>Filtros</h5>

<form asp-action="Index" class="form-group" id="FiltroHTML">
    <label class="control-label"></label>
    <select name="tipoArgumento" onchange="actualizarInterfazFiltros();" id="SelectFiltro">
         <option value="0" selected>Todo</option>
         <option value="1">Nombre Científico</option>
         <option value="2">Especies en Peligro</option>
         <option value="3">Especies por rango de Peso</option>
    </select>
    <span id="Filtro2HTML"></span>
    <input type="submit" value="Mostrar" class="btn btn-primary" />
</form>

<p>@ViewBag.Mensaje</p>
<p>@TempData["Mensaje"]</p>

<hr />

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <p> <a asp-action="Create">Añadir Especie</a> </p>
}
else
{
    <p></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreVulgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCientifico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreVulgar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <img src="/imgs/@item.Imagen" height="50" />
                </td>
                <td>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <!--Opciones de admins/editores para el futuro-->
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function actualizarInterfazFiltros() {
        if (document.querySelector("#SelectFiltro").value == 1) {
            document.querySelector("#Filtro2HTML").innerHTML = `
                                            <label class="control-label" >Nombre</label>
                                            <input type="text" name="argumento" />
                                            <span class="text-danger" > </span>
                                        `;
        } else if (document.querySelector("#SelectFiltro").value == 3) {
            document.querySelector("#Filtro2HTML").innerHTML = `
                                            <label class="control-label" >Peso mínimo</label>
                                            <input type="text" name="pesoMin" />
                                            <span class="text-danger" > </span>
                                            <label class="control-label" >Peso máximo</label>
                                            <input type="text" name="pesoMax" />
                                            <span class="text-danger" > </span>
                                        `;
        } else {
            document.querySelector("#Filtro2HTML").innerHTML = ""; //Filtros para opc 0 "Todo" y opc 2 "Especies en peligro" caen acá
        }
    }
</script>